.section-description {
    position: relative;
    margin-bottom: 20px;

    &__title {
        position: relative;
    }

    &__subtitle {
        position: relative;
        padding-left: 50px;
        font-style: italic;
        color: #2a374c;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 40px;
            height: 1px;
            background: #2a374c;
        }
    }
}