#saving {
    background: url('../images/bg/saving-bg.jpg') 50% 50% /cover no-repeat;

    .slider-arrow {
        position: absolute;
        bottom: 45px;
        left: 15px;

        @media (min-width: map_get($grid-breakpoints, lg)) {
            left: 55%;
            bottom: 65px;
        }
    }
}

.saving-slider {

    .flickity-page-dots {
        display: flex;
        left: 70px; 
        bottom: 55px;
        width: 100%;
        max-width: 400px;

        @media (min-width: map_get($grid-breakpoints, lg)) {
            left: 60%;
            bottom: 75px;
        }

        li {
            flex: 1 0 auto;
            margin: 0;
            height: 1px;
            background: $secondary;
            border: none;
            border-radius: 0;

            &.is-selected {
                height: 2px;
                background: $primary;
            }
        }
    }


    &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        @media (min-width: map_get($grid-breakpoints, lg)) {
            width: 90%;
            flex-direction: row;
        }

        &.is-selected {

            .img-container {
                position: relative;
                top: 0;
                bottom: 0;
                width: 100%;
                padding-top: 250px;

                @media (min-width: map_get($grid-breakpoints, lg)) {
                    width: 60%;
                    margin-left: -10%;
                    padding-top: 0;
                }

                .img {
                    width: 100%;

                    @media (min-width: map_get($grid-breakpoints, lg)) {
                        left: 90px;
                    }
                }

                &::before {
                    top: 50%;
                    bottom: 50%;
                }
            }

            .content {
                right: 0;
            }
        }

        .img-container {
            position: relative;
            padding-top: 300px;
            overflow: hidden;
            width: 20%;
            z-index: 15;
            transition: .7s;
            
            @media (min-width: map_get($grid-breakpoints, lg)) {
                padding: 0;
                position: absolute;
                transform: skew(-15deg, 0deg);
                position: absolute;
                top: 60%;
                left: 0;
                bottom: -30px;
            }

            &::before {
                content: '';
                @extend %pos;
                background: rgba($primary, .5);
                z-index: 4;
                transition: .5s;
            }

            @media(min-width: 1800px) {
                width: 70%;
            }

            .img {
                @extend %pos;
                @extend %img;
                transition: .5s;

                @media (min-width: map_get($grid-breakpoints, lg)) {
                    transform: skew(15deg, 0deg);
                    left: -60px;
                    width: 120%;
                }
            }
        }

        .content {
            position: relative;
            margin-left: 5px;
            padding: 30px 0;
            width: 100%;
            max-width: 570px;
            z-index: 20;

            @media (min-width: map_get($grid-breakpoints, lg)) {
                width: 45%;
                right: -300px;
                padding: 90px 0;
                margin-left: 0;
            }

            .section-description {

                &__title {
                    margin-left: 10px;
                    padding: 10px 15px;
                    color: $primary;
                    display: inline-block;
                    z-index: 4;

                    @media (min-width: map_get($grid-breakpoints, lg)) {
                        margin-left: 0;
                        padding: 0;
                    }

                    &::before {
                        content: '';
                        @extend %pos;
                        background: $dark;
                        transform: skew(-20deg);
                        z-index: -3;

                        @media (min-width: map_get($grid-breakpoints, lg)) {
                            left: -60px;
                            right: -60px;
                        }
                    }
                }
            }
        }
    }
}