.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 60px 40px 40px;
    transform: translate(-50%, 200%);
    width: 100%;
    max-width: 400px;
    background: $dark;
    z-index: 80;
    transition: .5s;

    &.active {
        transform: translate(-50%, -50%);
    }

    .close-modal {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {

            .line {
                opacity: 1;
            }
        }

        .line {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 2px;
            background: #fff;
            opacity: .5;
            transition: .5s;

            &--left {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &--right {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }

    &-header {

        .title {
            margin-bottom: 60px;
            text-transform: uppercase;
            color: $primary;
            text-shadow: 0px 3px 45px rgba(237, 201, 57, 0.28);
        }
    }
}

.modal-mask {
    @extend %pos;
    position: fixed;
    background: rgba(#000, .8);
    opacity: 0;
    pointer-events: none;
    z-index: 79;
    transition: .5s;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}